@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    
}

body{
    font-family: 'Be Vietnam', sans-serif;
    
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #242E52;
    line-height: 176.1%; 
    font-size:  20px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 165px;

}
header div{
    display: flex;
    

}
header nav ul{
    display: flex;
    list-style-type: none;
    
    
}

header nav ul li{
    margin-left: 28px;
           
}
button {

    background: #F3603B;
    display: flex;
    padding: 8px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-size: 10px 50px;
    border: none;

   
}
button a.button_orange {
    color:  #ffff;
    font-weight: normal;
    font-size: 15px;
    justify-content: center;
}

.number1 {
    
    display: flex;
    padding:  65px 90px 120px 165px;
    width: 100%;
    justify-content: space-between;
    gap: 100px;
    
    

}

.section1_left h1 {
    
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #232C50;
    margin-bottom: 28px;
}

.section1_left p {    
    width: 340px;
font-size: 16px;
line-height: 26px;
display: flex;
font-weight: bold;
color: #000000;
margin-bottom: 28px;
font-weight: bold;

}

/* hasta aca esta subido al git  */

.number2 {
display: flex;
padding:  0px 90px 120px 165px;
width: 100%;
justify-content: space-between;
gap: 150px;
flex-direction: row;
}

.section2_left {
display: flex;
flex-direction: column;
align-items: flex-start;


}
.section2_left h2 {
align-items: center;
color: #232851;
display: flex;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;
margin-bottom: 36px;
width: 400px;

}
.section2_left p {
width: 337px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;

}

.section2_rigth {
display: flex;
align-items: flex-start;
flex-direction: row;
gap: 20px;
bottom: 18px;
margin-top: 18px;
}

.botton{
    color: white;
    box-shadow: none;
}

.textos {
    display: flex;
    margin-bottom: 18px;
    color: #323851;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
}
.texto_parrafo {
    padding-left: 80px;
    padding-right: 20px;
    width: 458px;
    margin-bottom: 30px;
    display: flex;
    font-size: 13px;
    
}




.titulo{
    display: inline-flex;
    width: 100%;
    justify-content: center;    
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 61px;
    letter-spacing: -0.01em;
    color: #242E53;
    padding: 20px 100px 74px;


}

.number3 {
    display: inline-flex;
    align-items: center;
}   

