@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    
}

body{
    font-family: 'Be Vietnam', sans-serif;

}

a{
    text-decoration: none;
    font-weight: bold;
    color: #242E52;
    line-height: 176.1%; 
    font-size:  20px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 165px;

}
header div{
    display: flex;
    

}
header nav ul{
    display: flex;
    list-style-type: none;
    
    
}

header nav ul li{
    margin-left: 28px;
           
}
button {

    background: #F3603B;
    display: flex;
    padding: 8px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-size: 10px 50px;
    border: none;

   
}
button a.button_orange {
    color:  #ffff;
    font-weight: normal;
    font-size: 15px;
    justify-content: center;
}



.home {
    
    display: flex;
    padding:  65px 90px 120px 165px;
    width: 80%;
    justify-content: space-between;
    gap: 100px;
    /* margin-left: 12%;
    margin-right: 10%; */

    
    

}

.frase_home h1 {
    
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #232C50;
    margin-bottom: 28px;
}

.frase_home p {    
    width: 340px;
font-size: 16px;
line-height: 26px;
display: flex;
font-weight: bold;
color: #000000;
margin-bottom: 28px;
font-weight: bold;

}


.sobre_nosotros {
    display: flex;
    padding:  0px 90px 120px 165px;
width: 100%;
justify-content: space-between;
gap: 150px;
flex-direction: row;
}

.frame_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.frame_left h2 {
    align-items: center;
    color: #232851;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 36px;
width: 400px;

}
.frame_left p {
    width: 337px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;

}

.frame_rigth {
display: flex;
align-items: flex-start;
flex-direction: row;
gap: 20px;
bottom: 18px;
margin-top: 18px;
}

.botton{
    color: white;
    box-shadow: none;
}

.titulo_frame {
    display: flex;
    margin-bottom: 18px;
    color: #323851;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
}
.parrafo_frame {
    padding-left: 80px;
    padding-right: 20px;
    width: 458px;
    margin-bottom: 30px;
    display: flex;
    font-size: 13px;
    
}

.titulo_testimonio {
    display: inline-flex;
    width: 100%;
    justify-content: center;    
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 61px;
    letter-spacing: -0.01em;
    color: #242E53;
    padding: 20px 100px 74px;
        
}
/* hasta aca esta subido al git  */

.testimonios {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}   

.testimonios
{
    padding: 70px 80px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    gap: 50px;    
    width: 100%; 
    text-align: center;  
    font-size: 14px;

}

.frame_testimonio h4 {
    margin-top: 21px;
    margin-bottom: 21px;
    color:  #3F4868;
    font-weight: bold;    

}

.frame_testimonio p{
    color: #B9B9C1;
    font-weight: bolder;
}

.button_testimonios {
    display: flex;
    justify-content: center;

}


.rectangulo {
    margin-top: 180px;
    display: inline-flex;
    padding: 30px 0;
    background-color: #F3613C;
    justify-content: space-around;
    width: 100%;       
}
.rectangulo h2 {
    display: flex;
    font-weight: bold;
    color: white;
    max-width: 430px;
    font-size: 30px;    


}
.button_rectangulo{
   
    padding-top: 30px;
}

.button_rectangulo a{
    color: #F3603B;
    background: white;
    display: flex;
    padding: 8px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border: none;
}
.footer {
    display: flex;
    background: #1E1E26;
    width: 100%;
    justify-content: space-between;
    

}
.iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
}



